/* Override font size for large screens */
@media screen and (min-width: 125em) {
    html {
        font-size: 137.5% !important;
    }
}

.md-content {
    text-align: justify !important;
    text-justify: inter-word;
}

/* Dark ve light mode geçişi yapıldığı için buraya artık statik olarak arkaplan rengi vermiyoruz. */
/* .md-main {
    background-color: #fbfbfd;
} */

.md-main__inner h1, h2, h3, h4, h5, h6 {
    text-align: left !important;
}

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video-wrapper>iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}