.md-content {
    text-align: justify !important;
    text-justify: inter-word;
}

.md-main {
    background-color: #fbfbfd;
}

.md-main__inner h1, h2, h3, h4, h5, h6 {
    text-align: left !important;
}